services:
  traefik:
    container_name: traefik
    image: traefik:v3.6.5
    command:
      - "--api.insecure=true"
      # Enabling docker provider
      - "--providers.docker"
      # Do not expose containers unless explicitly told so
      - "--providers.docker.exposedbydefault=false"
      #- "--log.level=DEBUG"
    ports:
      - 80:80
      - 8080:8080
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
    restart: unless-stopped

  dave:
    container_name: dave
    image: theknarf/dave
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.dave.rule=Host(`${DOCKER_DOMAINNAME}`)"
    restart: unless-stopped
